<!DOCTYPE html>
<html>

<head>
  <!-- <script src="/webrtc.js"></script> -->
  <script src="/rtc.js"></script>

  <title>Video Call | {{ roomToken }}</title>

  <style>
    body {
      width: 100%;
      height: 100%;
    }

    canvas {
      border: 10px black solid;
      cursor: pointer;
      z-index: 9;
      width: 100%;
      height: 90%;
    }

    video {
      position: fixed;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
      opacity: 0.001;
    }
  </style>


</head>

<body>
  <canvas id="canvas"></canvas>
  <p id="roomToken" style="display:none">{{ roomToken }}</p>
  <!-- <video id="localVideo" playsinline autoplay muted></video>
  <video id="remoteVideo" playsinline autoplay></video> -->
  <div style="width:10%">
    <p id="messages">Please wait while... we are establishing the call with the expert.</p>

    <button id="switch_camera">Switch Cam</button>
    <button id="share_screen" title="Share Screen">Share Screen</button>
    <button id="flash-on">Turn On Flash</button>

  </div>

  <script>window.addEventListener("load", guestReady);</script>
</body>

</html>